<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		id="cordova-plugin-emplugin" version="0.0.1">
	<name>EMPlugin</name>
	<description>Custom EM plugin</description>
	<keywords>cordova,emplugin</keywords>

	<js-module src="www/emplugin.js" name="emplugin">
		<clobbers target="EMPlugin" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="EMPlugin" >
				<param name="android-package" value="ru.pronetcom.easymerch2.emplugin.EMPlugin"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		</config-file>

		<source-file src="src/android/EMPlugin.java" target-dir="src/ru/pronetcom/easymerch2/emplugin" />
	</platform>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="CDVEMPlugin">
				<param name="ios-package" value="CDVEMPlugin"/>
			</feature>
		</config-file>

		<header-file src="src/ios/CDVEMPlugin.h" />
		<source-file src="src/ios/CDVEMPlugin.m" />

		<header-file src="src/ios/SceneDelegate.h" />
		<source-file src="src/ios/SceneDelegate.m" />

		<edit-config file="*-Info.plist" mode="merge" target="UISceneConfigurations">
			<dict>
				<key>UIWindowSceneSessionRoleApplication</key>
				<array>
				<dict>
					<key>EMSceneDelegate</key>
					<string>$(PRODUCT_MODULE_NAME).FSSceneDelegate</string>
				</dict>
				</array>
			</dict>
		</edit-config>

		<edit-config file="*-Info.plist" mode="merge" target="UIApplicationSupportsMultipleScenes">
			<false/>
		</edit-config>

	</platform>
</plugin>