<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
		id="cordova-plugin-emplugin" version="0.0.1">
	<name>EMPlugin</name>
	<description>Custom EM plugin</description>
	<keywords>cordova,emplugin</keywords>

	<js-module src="www/emplugin.js" name="emplugin">
		<clobbers target="EMPlugin" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="EMPlugin" >
				<param name="android-package" value="ru.pronetcom.easymerch2.emplugin.EMPlugin"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			</receiver>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<receiver android:name="ru.pronetcom.easymerch2.emplugin.TimeChangeReceiver" android:exported="true">
				<intent-filter>
					<action android:name="android.intent.action.TIME_SET" />
				</intent-filter>
			</receiver>
		</config-file>

		<source-file src="src/android/EMPlugin.java" target-dir="src/ru/pronetcom/easymerch2/emplugin" />
	</platform>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="EMPlugin">
				<param name="ios-package" value="CDVEMPlugin"/>
			</feature>
		</config-file>

		<header-file src="src/ios/CDVEMPlugin.h" />
		<source-file src="src/ios/CDVEMPlugin.m" />

		<header-file src="src/ios/EMSceneDelegate.h" />
		<source-file src="src/ios/EMSceneDelegate.m" />

		<header-file src="src/ios/UIWindow+UIWindowEM.h" />
		<source-file src="src/ios/UIWindow+UIWindowEM.m" />

		<header-file src="src/ios/image_picker_fix/GMImagePickerController+EMGMImagePickerController.h" />
		<source-file src="src/ios/image_picker_fix/GMImagePickerController+EMGMImagePickerController.m" />
		<header-file src="src/ios/MethodSwizzle.h" />
		<source-file src="src/ios/MethodSwizzle.m" />


		<config-file target="*-Info.plist" mode="overwrite" parent="UIApplicationSceneManifest">
			<dict>
			<key>UIApplicationSupportsMultipleScenes</key>
			<false/>
			<key>UISceneConfigurations</key>
			<dict>
				<key>UIWindowSceneSessionRoleApplication</key>
				<array>
					<dict>
						<key>UISceneConfigurationName</key>
						<string>Default Configuration</string>
						<key>UISceneDelegateClassName</key>
						<string>EMSceneDelegate</string>
					</dict>
				</array>
			</dict>
		</dict>
		</config-file>

	</platform>
</plugin>